<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="/static/css/main.css">
<title>Word Keeper</title>
</head>

<body>
  <h2>Word Keeper</h2>
  <form class="pure-form pure-form-aligned">
    <fieldset>
      <div class="pure-control-group">
        <label for="pattern">Pattern</label>
        <input id="pattern" name="pattern" class="pure-input-2-3" placeholder="Search by example">
      </div>
    </fieldset>
  </form>

  <table class="pure-table full">
    <thead>
      <tr>
        <th width="20%">Word</th>
        <th width="5%">Language</th>
        <th width="75%">Description</th>
      </tr>
    </thead>
    <tbody>
      {{range $word := .words}}
      <tr>
        <td>{{$word.Original}}</td>
        <td>{{$word.Language}}</td>
        <td>{{$word.Description}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>

  <form class="pure-form pure-form-aligned" action="word" method="post">
    <fieldset>
      <div class="pure-control-group">
        <label for="word">Word</label>
        <input name="word" id="word" type="text" placeholder="Word" required>
      </div>

      <div class="pure-control-group">
        <label for="language">Language</label>
        <input name="language" id="language" placeholder="Language" required>
      </div>

      <div class="pure-control-group">
        <label for="description">Description</label>
        <input name="description" id="description" placeholder="Description" required>
      </div>

      <div class="pure-controls">
        <button type="submit" class="pure-button">Send</button>
      </div>
    </fieldset>
  </form>
</body>
</html>
